<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RS Automation</title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    </head>

    <body style="background-color: #0d161d;">

        <div class="d-flex" id="wrapper">
            <!--Barra lateral-->
            <div class="bg-dark" id="sidebar-wrapper">
                <img src="{{ url_for('static', filename='img/logo.png')}}" class="logo">
                <div class="list-group list-group-flush my-3">
                    <a class="list-group-item none"></a>
                    <a href="/control" class="list-group-item list-group-item-action fw-bold">
                        <span>Control</span>
                    </a>
                    <a href="/ejecutar" class="list-group-item list-group-item-action fw-bold">
                        <span>Ejecutar</span>
                    </a>
                    <a href="/crear" class="list-group-item list-group-item-action fw-bold active">
                        <span>Crear</span>
                    </a>
                    <a class="list-group-item none"></a>
                </div>
            </div>
            <!--Barra lateral fin-->

            <!--Contenido-->
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg bg-dark py-4 px-4">
                    <div class="d-flex align-items-center">
                        <img src="{{ url_for('static', filename='img/toggle.svg')}}" id="menu-toggle"></img>
                        <h2 class="navbar-title">Crear</h2>
                    </div>
                </nav>
                <div class="container-fluid px-5">
                    <div class="row g-5 my-2">
                        <div class="col-md-12">
                            <div class="card p-3 bg-secondary shadow-sm d-flex rounded" style="height: 78.5vh;">
                                <div class="container" style="margin-top: 1.8rem;">
                                    <div class="row">

                                        <div class="col-md-12 mb-4">
                                            <div class="mb-4">
                                                <label for="txtCrear" class="form-label mb-3 fs-5">Agregue instrucciones</label>                                                
                                            </div>

                                            <div style="height: 48vh; overflow-y: hidden; overflow-x: hidden;">
                                                <div class="row d-flex align-items-center">
                                                    <div class="col-md-10">
                                                        <div class="card bloque">
                                                            <div class="row p-3">
                                                                <div class="col-md-2 d-flex justify-content-center">
                                                                    <div class="input-group">
                                                                        <select class="form-select" id="inputGroupSelectMotor" aria-label="Example select with button addon">
                                                                            <option selected>Motor 0</option>
                                                                            <option value="0">Motor 1</option>
                                                                            <option value="1">Motor 2</option>
                                                                            <option value="2">Motor 3</option>
                                                                            <option value="3">Motor 4</option>
                                                                            <option value="4">Motor 5</option>
                                                                            <option value="5">Motor 6</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2 d-flex justify-content-center">
                                                                    <div class="input-group">
                                                                        <span class="input-group-text" id="basic-addon1">Grados</span>
                                                                        <input type="text" class="form-control" placeholder="90" value="90" id="gradosBloque">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 d-flex justify-content-center">
                                                                    <div class="input-group">
                                                                        <span class="input-group-text" id="basic-addon1">Velocidad</span>
                                                                        <input type="text" class="form-control" placeholder="10" value="10" id="velocidadBloque">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 d-flex justify-content-center">
                                                                    <div class="btn-group" style="width: 100%;" role="group" aria-label="Basic radio toggle button group">
                                                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                                                                        <label class="btn btn-outline-primary p-2" for="btnradio1">Derecha</label>
                                                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                                                        <label class="btn btn-outline-primary p-2" for="btnradio2">Izquierda</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2 d-flex justify-content-center">
                                                                    <div class="input-group">
                                                                        <span class="input-group-text" id="basic-addon1">Sleep</span>
                                                                        <input type="text" class="form-control" placeholder="1" value="1" id="sleepBloque">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <div class="d-flex flex-column"> 
                                                            <div class="d-flex justify-content-center mb-2">
                                                                <input type="image" src="{{ url_for('static', filename='img/move.svg')}}" value="moveUpBloque" id="moveUpBloque" draggable="false" style="transform: rotate(180deg);">
                                                            </div>
                                                            <div class="d-flex justify-content-center">
                                                                <input type="image" src="{{ url_for('static', filename='img/move.svg')}}" value="moveDownVloque" id="moveDownVloque" draggable="false">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <div class="d-flex flex-column"> 
                                                            <div class="d-flex justify-content-center mb-2">
                                                                <input type="image" src="{{ url_for('static', filename='img/add.svg')}}" value="agregarBloque" id="agregarBloque" draggable="false">
                                                            </div>
                                                            <div class="d-flex justify-content-center">
                                                                <input type="image" src="{{ url_for('static', filename='img/remove.svg')}}" value="eliminarBloque" id="eliminarBloque" draggable="false">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="height: 0.3vh; background-color: #4C5155;"></div>
                                        </div>
                                        <div class="col-md-1 mb-3">
                                            <a class="btn btn-secondary px-3 fs-4" href="/crear-dos">?</a>
                                        </div>
                                        <div class="col-md-6"></div>
                                        <div class="col-md-5">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="Nombre archivo" aria-describedby="guardarArchivo" style="max-height: 2rem;">
                                                <button class="btn btn-secondary px-sm-4 px-md-2 px-xl-3" type="button" id="guardarArchivo" style="max-height: 2rem;">Guardar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Contenido fin-->
        </div>

        <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    </body>
    
</html>
