<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RS Automation</title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    </head>

    <body style="background-color: #0d161d;">

        <div class="d-flex" id="wrapper">
            <!--Barra lateral-->
            <div class="bg-dark" id="sidebar-wrapper">
                <img src="{{ url_for('static', filename='img/logo.png')}}" class="logo">
                <div class="list-group list-group-flush my-3">
                    <a class="list-group-item none"></a>
                    <a href="/control" class="list-group-item list-group-item-action fw-bold">
                        <span>Control</span>
                    </a>
                    <a href="/ejecutar" class="list-group-item list-group-item-action fw-bold">
                        <span>Ejecutar</span>
                    </a>
                    <a href="/crear" class="list-group-item list-group-item-action fw-bold active ">
                        <span>Crear</span>
                    </a>
                    <a class="list-group-item none"></a>
                </div>
            </div>
            <!--Barra lateral fin-->

            <!--Contenido-->
            <div id="page-content-wrapper">
            
                <nav class="navbar navbar-expand-lg bg-dark py-4 px-4">
                    <div class="d-flex align-items-center">
                        <img src="{{ url_for('static', filename='img/toggle.svg')}}" id="menu-toggle"></img>
                        <h2 class="navbar-title">Instrucciones Crear</h2>
                    </div>
                </nav>       
                <div class="container-fluid px-5">
                    <div class="row g-5 my-2">
                        <div class="col-md-12">
                            <div class="card p-3 bg-secondary shadow-sm d-flex rounded" style="height: 78.5vh;">
                                <div class="container" style="margin-top: 1.8rem;">
                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="mb-4">
                                                <span class="mb-3 fs-5">Por motor</span>
                                                <p>Instrucciones...</p>
                                            </div>
                                            <div class="mb-4">
                                                <span class="mb-3 fs-5">Con cooredenadas</span>
                                                <p>Instrucciones...</p>
                                            </div>
                                        </div>
                                        <div class="col-md-1 mb-3" style="margin-top: 38vh;">
                                            <a class="btn btn-secondary px-2 fs-4" href="/crear">🢀</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Contenido fin-->
        </div>

        <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    </body>
    
</html>
